/*main page*/
.App {
  background-image: url(./res/ForestBackground.jpg);
  height: 100%;
  width: 100%;
  position: absolute;
}
.AboutMe {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  align-items: center;
}
.Projects {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  align-items: center;
}

/*TopMenu*/
.menuButtons {
  display: flex;
  position: absolute;
  padding: 10px;
  right: 0px;
  width: 230px;
  justify-content: space-around;
  top: 0;
  z-index: 10;
}

/*profileImage*/
.profileImageBackground {
  margin-top: 30px;
  background-color: #de7119;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

/*socials*/
.imageScale {
  height: 50px;
}
